<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="list_user">
        <table>
            <tr>
            
                <th>nome</th>
                <th>idade</th>
            </tr>
            {% for usuario in usuarios %}
            <tr>
              
                <td>{{usuario.nome}}</td>
                <td>{{usuario.idade}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>